<ul class="nav nav-pills">
  <li role="presentation" id="nav-home"><a href="/">Home</a></li>
  <li role="presentation" id="nav-about"><a href="/about">About</a></li>
  <li role="presentation" id="nav-blog"><a href="/blog">Blog</a></li>
  <li role="presentation" id="nav-visualize"><a href="/visualize">Visualize</a></li>
  <li role="presentation" id="nav-kibana"><a href="http://data.dcinbox.com/app/kibana#/discover?_g=()" target="_blank">Full Dataset</a></li>
</ul>
<div class="bg-secondary">
	<div class="jumbotron text-center">
		<h1>DCinbox</h1>
		<p>Official e-newsletters from every member of Congress. In one place. In real time.</p>
	</div>
</div>