<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body>
	{{>header}}
	<div class="container">
	<div class="row">
    <div class="col-md-6 col-md-offset-3" style="text-align:center;">
      <h1>About</h1>
      <hr />
    </div>
    <div class="col-md-8 col-md-offset-2" style="margin-bottom:5%">
		<p>
      DCinbox is an academically derived project headed by me, <a href="http://personal.stevens.edu/~lcormack/">Prof. Lindsey Cormack</a>, with the assistance of 2 <a href="https://www.nyu.edu/">NYU</a> undergrads, 4 <a href="https://www.stevens.edu/">Stevens Institute of Technology</a> <a href="http://stephenmcardle.com">undergrads</a>, and 1 professional <a href="https://www.linkedin.com/in/dave-bour-2204b815b/">Technical Lead</a>.
    </p>
    <p>
      Starting in 2009, as a graduate student at the <a href="http://as.nyu.edu/politics/phd-program.html">NYU Wilf family department of politics</a>, I set up a small database to capture and house every official e-newsletter sent by sitting members of the U.S. House and Senate. For a detailed description of the ins and outs of the project, please see this from <a href="http://www.legislativestudies.org/wp-content/uploads/2017/04/The_Legislative_Scholar_Spring_2017.pdf">The Legislative Scholar</a>.
    </p>
    <p>
      These communications are crafted and sent by nearly every member of Congress, yet until 2009 there was no comprehensive set to use in research. This database is updated in real time, as members of Congress send constituent messages, and provides researchers with a systematic set of texts to examine the strategic choices that legislators and their staff make in crafting the content. Today, there are nearly 90,000 unique e-newsletters.
    </p>
    <p>
      If you are a researcher interested in these data please see the <a href="http://data.dcinbox.com">full dataset</a> tab and explore away! If you want to use this data for publication purposes, let me know! I’ll happily host shorter write ups of your findings on the blog section of the website. If you ever have questions along the way, please feel free to email me at <a href="mailto:lcormack@stevens.edu">lcormack@stevens.edu</a>. While I’m not quite as prolific as other political actors on Twitter, you can also check out <a href="https://twitter.com/DCInbox?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">@dcinbox</a> to see where this research is headed.
    </p>

    <hr />

    <p>
      To date, these data have been used to explore:
    </p>
    <ul>
      <li>
        <a href="https://www.amazon.com/Congress-U-S-Veterans-Bill-Crisis/dp/1440858365/ref=sr_1_1?ie=UTF8&qid=1524145498&sr=8-1&keywords=lindsey+cormack">Partisan differences in attention to veterans</a> as a topic in official communications.  Republicans tend to talk way more about veterans in official communications than Democrats do, despite the fact that democrats offer more veteran focused legislation.
      </li>
      <li>
        <a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/lsq.12126">How members of Congress try to shift their ideological appearances</a> to constituents by attempting to moderate or extremize their communicated votes based on district preferences.
      </li>
      <li>
        <a href="https://www.tandfonline.com/doi/full/10.1080/09589236.2015.1078228">The differences in vote revelation strategies of men and women within Congress</a>. Punch line: women discuss their votes in constituent communications more often than men do.
      </li>
      <li>
        The signaled networks of members of Congress in their official communication.
      </li>
      <li>
        And a longer project about the contours of anti-Obama sentiment in Congresses of his era. 
      </li>
    </ul>

    <hr />

    <p>Notice Something Missing?</p>
    <p>
      If you have a particular e-newsletter you are searching for and can't find it here, that doesn't mean we don't have it. A few (6%) of the e-newsletters are encoded in ways that do not easily port to our backend processes. If in doubt, please feel free to email me at <a href="mailto:lcormack@stevens.edu">lcormack@stevens.edu</a> and I'll double check for you.
    </p>
  </div>

	</div>
	</div>


  	{{>imports}}

  	<!-- App-specific code -->
  	<script type="text/javascript">
  		(function () {
  			$('#nav-about').addClass('active') // highlight correct nav link
		})()
  	</script>

</body>
</html>