<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{{>head}}
</head>

<body>
	<a id="start"></a>
	{{>nav}}

	<div class="row">
		<div class="col-md-6 col-md-offset-3" style="text-align:center;margin-bottom:48px">
			<h1>Error Page</h1>
			<hr />
			<div style="background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
				<h3>Error Message</h3>
				<p style="color:red">{{message}}</p>
			</div>

		</div>
	</div>


  {{>imports}}

</body>
</html>